@import url("https://fonts.googleapis.com/css2?family=Ranchers&display=swap");

body{background-color: 	#00719c;}
.title{padding: 80px 0 20px; display: block; text-align: center; font-weight: 600;color: rgba(255, 255, 255, 0.699)}
.bucket{display: flex;}
.file_input{ max-width: 250px; justify-content:center;border:dotted rgba(255, 255, 255, 0.623) 2px; font-size: 15px;padding:5px; color:azure}
.add-bucket{display: flex; flex-grow: 1;}
.custom-control-label::before, .custom-control-label::after, .form-control{border-color: #007bff;}
.add-bucket input{margin-right: auto;}
.add-bucket .btn-primary{padding: 6px 20px; margin-left: 10px;}
.single-check{display: flex; justify-content: space-between; padding: 15px;}
.single-check span{font-weight: 600;}
.card{max-width: 350px;}
.search{display: block; text-align: center;}
.borders{border-color: greenyellow;}
/* .bucket-item{background-color: #dadada; box-shadow: 0 0 4px 2px rgb(0 0 0 / 20%);} */